<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Rossmc\SalesPdfFonts\Model\Order\Pdf\Invoice" />
    <preference for="Magento\Sales\Model\Order\Pdf\Shipment" type="Rossmc\SalesPdfFonts\Model\Order\Pdf\Shipment" />
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="Rossmc\SalesPdfFonts\Model\Order\Pdf\Creditmemo" />
    <preference for="Magento\Shipping\Model\Order\Pdf\Packaging" type="Rossmc\SalesPdfFonts\Model\Order\Pdf\Packaging" />

</config>